<div>
  <nav class="container navbar navbar-expand-sm bg-primary navbar-dark">
    
      <form class="form-inline"  action="">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" style="float:left" type="submit">Search</button>
      
    </form>
  </nav>

  <div>
    <div class="card container">
     
      <div class="card-body">  <ul class="nav nav-tabs nav-justified ">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empList']">GetEmployee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/create']">CreateEmployee</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/other']">Other Module</a>
        </li>  -->
        <li class="nav-item">
          <a class="nav-link" href="#">UpdateEmployee</a>
        </li>
        
      </ul></div>
      
    </div>
  
  </div>
</div>
<router-outlet></router-outlet>